.header{
    display: flex;
    margin-top: 10px;
}
.header-left{
    background-color: orange;
    width: 30%;
    float: left;
    text-align: left;
}
.header-right{
    background-color: aqua;
    width: 70%;
    float: right;
    text-align: right;
}
.list{
    text-decoration: none;
    color: black;
    text-align: left;
    font-size: 15px;
    padding: 10px;
}
#grid{
    font-size: 1.25em;
    margin: 7px;
}

.sign-in{
    text-decoration: none;
    background-color: rgb(12, 130, 248);
    color: white;
    font-size: 15px;
    padding-right: 23px;
    padding-left: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.sign-in:hover{
    background-color: rgba(5, 84, 243, 0.915);
}

.search{
    color: gray;
    font-size: 1em;
}
a:hover,span.hover{
    text-decoration: underline;
}
.bar{
    display: inline-block;
    color: gray;
}

.bar-content{
    display: none;
    position: absolute;
}

.bar-content a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.bar:hover .bar-content{display: block;}
.bar:hover .settings{
    
    text-decoration: underline;
}

.footer{
    display: flex;
}

.foo-list{
    text-decoration: none;
    color: gray;
    text-align: left;
    font-size: 15px;
    padding: 10px;
}